[tool.ruff]
target-version = "py312"
line-length = 100
exclude = [
  "venv",
  "__pycache__",
  ".pytest_cache",
]

[tool.ruff.lint]
select = ["E", "F", "I"]
ignore = [
  "E402",
  "E501",
  "E701",
  "E741",
  "F401",
  "I001",
]
